.content {
    margin: auto;
}

.wrapper {
    height: 100vh;
    margin: auto;
}

.drop-down {
    position: relative;
    width: 50%;
    top: 0;
    left: 25%;
    right: 50%;
    bottom: 0;
    z-index: 2;
    /* animation: mymove 5s; */
}

#search-form {
    position: relative;
    z-index: 1;
   display: flex;
   align-items: center;
   justify-content: center;

    /* transform: translate(150px, 50px); */
}

#inputBox {
    width: 70%;
    height: 50px;
    border-radius: 4%;
}

.button {
    height: 50px;
    width: 50px;
    border: rgb(61, 61, 61);
    border-style: solid;
}

body {
    background-color: rgb(8, 19, 6);
}

#movie-screen {
    height: 60%;
    width: 75%;
    background: radial-gradient(rgb(255, 255, 255), rgb(189, 189, 189));
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    z-index: -1;
    margin: auto;
    text-align: center;
   
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(8, 19, 6);
  }

  .movie-title {
      font-size: 26px;
  }

  #col2 {
      color: white;
  }